<div class="users_container">
  <ul>
    <% @users.each do |user| %>
      <li class="user-list-item">
        <div class="user-photo">
          <% if user.photo.present? %>
            <%= image_tag user.photo %>
          <% else %>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtOqCkEk1bHWlechHBJVOMBkfxoe9vXRO9SH0aTfy8mhNfXVH0DPk0Iu7LEYGg4YlIeAE&usqp=CAU"
              alt="Generic Photo"
            >
          <% end %>
        </div>
        <%= render partial: "shared/user", locals: { user: user } %>
      </li>
    <% end %>
  </ul>
  
  <%= link_to "Sign In", new_user_session_path, class: "sign-in-button" %>

  <%# #headache!!!  %>
  <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>

</div>
