<%# <h2>Log in</h2> %>
<div class="login-form">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Username", class: "input-field" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "input-field" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class: "login-button" %>
  </div>
<% end %>

</div>