.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.input-field {
  width: 70vw;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  width: 70vw;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-button:hover {
  background-color: #0056b3;
}

.remember-me-label {
  font-size: 14px;
  color: #555;
}

.actions a {
  color: #007bff;
  text-decoration: none;
}

.actions a:hover {
  text-decoration: underline;
}
